a{
    text-decoration: solid;
    font-size: 24px;
    color: black;
    margin-left: 550px;
    padding-bottom: 20px;

}
form{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1,1fr);
    width: 200px;
    margin-top: 25px;
    margin-left: 550px;
}
h3{
    text-decoration: solid;
    font-size: 24px;
    color: black;
    margin-left: 590px;
}
input{
    padding-left: 10px;
}